---
layout : default
---
	<div class="unit-article layout-post unit-inner unit-article-inner">
		<div class="content">
			<header>
				<div class="unit-head">
					<div class="unit-inner unit-head-inner">
						<h1 class="h2 entry-title">{{ page.title }}</h1>
					</div><!-- unit-inner -->
				</div><!-- unit-head -->
			</header>

			<div class="bd">
				<div class="entry-content">
					{{{ content }}}
					<div class="meta">
						<p class="date-publish">
							Published: 
							<date class="date-pub" title="{{ page.date | date_to_xmlschema }}" datetime="{{ page.date | date_to_xmlschema }}" pubdate>
							<span class="month"><abbr>{{ page.date | date: '%B' }}</abbr></span>
							<span class="day">{{ page.date | date: '%d' }}</span>
							<span class="year">{{ page.date | date: '%Y' }}</span>
							</date>
						</p>
						<ul class="list-category list-linear">
							<li class="list-head">category: </li>
							{{# page.categories?to_categories }}
							  {{> categories_list }}
							{{/ page.categories?to_categories }}
						</ul>
						<ul class="list-tag list-linear">
							{{# page.tags?to_tags }}
							  {{> tags_list }}
							{{/ page.tags?to_tags }}
						</ul>
					</div><!-- meta -->
				</div><!-- entry-content -->
				<div class="misc-content">
					<div class="social">
						<ul class="list-linear">
							<li><div class="twitter-tweet"><a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="{{ site.author.twitter }}" data-lang="en">Tweet</a></div></li>
							<li><div class="twitter-follow"><a href="https://twitter.com/{{ site.author.twitter }}" class="twitter-follow-button" data-show-count="false" data-lang="en"></a></div></li>
						</ul>
					</div>
					<div class="comment">
						{{{ comments }}}
					</div>
				</div><!-- misc-content -->
			</div><!-- bd -->
			<div class="unit-foot">
				<div class="unit-inner unit-foot-inner">
					<nav class="pagination">
						<ul>
<!-- 							{% if page.previous %}
							<li class="prev"><a class="internal" rel="prev"  href="{{ page.previous.url }}" title="View {{ page.previous.title }}">&laquo; {{ page.previous.title }}</a></li>
							{% endif %}
							{% if page.previous and page.next %}
							<li class="pipe"> | </li>
							{% endif %}
							{% if page.next %}
							<li class="next"><a class="internal" rel="next"  href="{{ page.next.url }}" title="View {{ page.next.title }}">{{ page.next.title }} &raquo;</a></li>
							{% endif %} -->
						{{# page?previous }}
							<li class="prev"><a class="internal" rel="prev" href="{{ url }}" title="{{ title }}">&larr; Previous</a></li>
						{{/ page?previous }}
						{{^ page?previous }}
							<!-- <li class="prev disabled"><a>&larr; Previous</a></li> -->
						{{/ page?previous }}

							<li><a href="/archive">Archive</a></li>

						{{# page?next }}
							<li class="next"><a class="internal" rel="next"  href="{{ url }}" title="{{ title }}">Next &rarr;</a></li>
						{{/ page?next }}
						{{^ page?next }}
							<!-- <li class="next disabled"><a>Next &rarr;</a> -->
						{{/ page?next }}
						</ul>
					</nav>
					<p class="gotop">
						<a href="#page">Back to Top</a>
					</p>
				</div>
			</div><!-- cannot have two footers!-->

		</div><!-- content -->
	</div><!-- unit-inner -->
